<!DOCTYPE html>
<html lang="en">
<head>
    {% if title %}
        <title>{{ title }} - SAP Email Robot</title>
    {% else %}
        <title>Bienvenido al Robot de Email para SAP</title>
    {% endif %}
</head>
<body>
    <div>
        Robot Email:
        <a href="{{ url_for('index') }}">Inicio</a>
        {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
        {% else %}
            <a href="{{ url_for('usuarios') }}">Usuarios</a>
            <a href="{{ url_for('register') }}">Agregar Usuario</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>